/* Global styles can go here if needed */
b/*body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
}*/
/* src/index.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
